.App {
  text-align: center;
}
.App * {
  color: var(--color-eggshell);
}
.App-header {
  background-color: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
:root {
  --color-melon: #ffa69e;
  --color-eggshell: #faf3dd;
  --color-aero: #b8f2e6;
  --color-blue: #aed9e0;
  --color-slate: #6a8087;
  --color-black: #25272d;
  --color-black-50: #25272dbb;
}
